<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/performances"></ion-back-button>
    </ion-buttons>

    <ion-title>Kontakt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons class="ion-justify-content-right">
    <ion-button routerLink="/contact" color="tertiary" fill="solid">
      Kontakt
    </ion-button>
   <ion-card>Broj telefona (WhatsApp, Viber): 062 032-333</ion-card>
    <a href="https://www.whatsapp.com/"></a>
    <ion-card>Adresa: Ilije Garašanina 48, Beograd</ion-card>
    <ion-card>Email: mojepozoriste@gmail.com</ion-card>
    <a href="https://www.gmail.com/"></a>
    <ion-card>Instagram: @moje_pozoriste_bgd</ion-card>
    <a href="https://www.instagram.com/moje_pozoriste_bgd/"></a>


  </ion-buttons>
</ion-content>
