<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/performances"></ion-back-button>
    </ion-buttons>

    <ion-title>Moj profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="ion-text-center">
    <ion-list class="ion-text-center">
    <ion-item>Ime i prezime</ion-item>
      <ion-icon name="logo-whatsapp"></ion-icon>
      <a href="https://www.whatsapp.com/">062 032-333</a>
    <ion-item>Broj rezervacija</ion-item>

      <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1">mojepozoriste@gmail.com</a>
    <ion-item>Kredit</ion-item>
      <ion-icon name="cash-outline"></ion-icon>
    </ion-list>
  </div>
</ion-content>
