<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/performances"></ion-back-button>
    </ion-buttons>

    <ion-title>Rezervacije</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="repertoire">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Moje rezervacije</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="add-new">
      <ion-icon name="add"></ion-icon>
      <ion-label>Rezerviši predstavu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
